# Ignore all files and directories except for *.psd1, *.psm1 README.md, LICENSE, and .gitignore
*
.env
.env*
!obj
!obj/*.json
!obj/*.props
!obj/*.targets
!AtlassianPowerKit*/
!AtlassianPowerKit-Shared/Strong-PasswordGenerator
!*.psd1
!*.psm1
!README.md
!env_example
!.gitignore
!.gitattributes
!LICENSE.md
